.author__avatar img {
    border-radius: 10px 28px 10px 28px;
}

body {
    font-family: "Lora", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lora", serif;
    font-weight: 600;
}

.page__title {
    font-family: "Lora", serif;
}

.masthead {
    font-family: "Lora", serif;
}

